
// base

.Dropdown-header {
  color: @dropdown-header-color;
  display: block;
  font-size: @dropdown-header-font-size;
  line-height: @dropdown-line-height;
  padding: 3px 20px;
  white-space: nowrap; // as with > li > a
}
